<!-- footer.component.html -->
<footer class="bg-dark text-white py-4 mt-5 w-100">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2025 Mi Aplicación - Todos los derechos reservados.</p>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
          <ul class="list-unstyled d-flex">
            <li class="mx-2">
              <a href="#" class="text-white">Términos y condiciones</a>
            </li>
            <li class="mx-2">
              <a href="#" class="text-white">Política de privacidad</a>
            </li>
            <li class="mx-2">
              <a href="#" class="text-white">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  